<p id="notice"><%= notice %></p>

<div class="container">
  <h1><strong>Artist</strong></h1>
    <%= @artist.name %>
    <div class="img">
      <%= image_tag @artist.photo %>
    </div>
    <div class="allsongs">
       <% if @songs!= nil %>
    <%@artist.songs.each do |song|%>
  <ul id="songlist">
    <li class="song">
    <input id="song1" type="checkbox">
    <label for="song1"><%=song.title%></li>
    <h6><%=link_to "Delete song", artist_song_path(@artist, song), method: :delete, data: {confirm: "You sure?"}, id: "deletesong"%></h6>
  </ul>

  <%end%>
  <%end%>

  </div>



  <%= render 'songs/form' %>

  <%= link_to 'Back', artists_path %>

  <a href="#" id="deleteallsongs">[Delete all songs]</a>
  <a><%= link_to "[Delete artist]", artist_path(@artist), method: :delete, data: {confirm: "You sure?"}, id: "deleteartist" %></a>


<style>
img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
